* {
  font-family: Poiret One;
}

body {
  margin:0;
  border:0;
}

main {
  height: 100vh;
}

.jumbotronStyle {
    padding: 5px;
    height: 50vh;
    width: 100%;
  }

  .image{
    position: relative;
    top:15px;
   }
  
  .col-card  {
    margin: 3px;
    height: 40vh;
    width: 20% !important;
  }

  .five-day {
font-size: 24px;
margin:0;
padding:0;
  }

  .flexbox {
    display: flex;
    overflow: hidden;
  }

  .flexbox.col-card {
    flex: 0 0 1; 
  }
  
  .text-frame {
    padding-left:25px;
  }

  .search-results {
    font-size:16px;
    margin-bottom: 2%;
  }
  
  .green {
    background-color:green;
    padding: 2px 5px;
    border-radius: 2px;
  }
  .yello {
    background-color: yellow;
    padding: 2px 5px;
    border-radius: 2px;
  }
  .orange {
    background-color: orange;
    padding: 2px 5px;
    border-radius: 2px;
  }

  .red {
    background-color: red;
    padding: 2px 5px;
    border-radius: 2px;
    color: whitesmoke
  }

  .purple {
    background-color: purple;
    padding: 2px 5px;
    border-radius: 2px;
    color:whitesmoke
  }